/node_modules/json-buffer/.npmignore
/node_modules/.package-lock.json
/node_modules/json-buffer/.travis.yml
/node_modules/minimist/.travis.yml
/node_modules/pump/.travis.yml
/node_modules/minimist/test/all_bool.js
/node_modules/got/source/as-promise.js
/node_modules/got/source/as-stream.js
/node_modules/registry-auth-token/base64.js
/node_modules/minimist/test/bool.js
/node_modules/rc/browser.js
/node_modules/cacheable-request/node_modules/get-stream/buffer-stream.js
/node_modules/get-stream/buffer-stream.js
/node_modules/deep-extend/CHANGELOG.md
/node_modules/registry-auth-token/CHANGELOG.md
/node_modules/semver/CHANGELOG.md
/node_modules/rc/cli.js
/node_modules/got/source/create.js
/node_modules/minimist/test/dash.js
/node_modules/deep-extend/lib/deep-extend.js
/node_modules/got/source/utils/deep-freeze.js
/node_modules/minimist/test/default_bool.js
/node_modules/minimist/test/dotted.js
/node_modules/got/source/errors.js
/node_modules/got/source/utils/get-body-size.js
/node_modules/got/source/get-response.js
/node_modules/@sindresorhus/is/dist/index.d.ts
/node_modules/cacheable-request/node_modules/get-stream/index.d.ts
/node_modules/cacheable-request/node_modules/lowercase-keys/index.d.ts
/node_modules/defer-to-connect/dist/index.d.ts
/node_modules/latest-version/index.d.ts
/node_modules/normalize-url/index.d.ts
/node_modules/p-cancelable/index.d.ts
/node_modules/package-json/index.d.ts
/node_modules/registry-url/index.d.ts
/node_modules/@sindresorhus/is/dist/index.js
/node_modules/@szmarczak/http-timer/source/index.js
/node_modules/cacheable-request/node_modules/get-stream/index.js
/node_modules/cacheable-request/node_modules/lowercase-keys/index.js
/node_modules/cacheable-request/src/index.js
/node_modules/clone-response/src/index.js
/node_modules/decompress-response/index.js
/node_modules/deep-extend/index.js
/node_modules/defer-to-connect/dist/index.js
/node_modules/duplexer3/index.js
/node_modules/end-of-stream/index.js
/node_modules/get-stream/index.js
/node_modules/got/source/index.js
/node_modules/http-cache-semantics/index.js
/node_modules/json-buffer/test/index.js
/node_modules/json-buffer/index.js
/node_modules/keyv/src/index.js
/node_modules/latest-version/index.js
/node_modules/lowercase-keys/index.js
/node_modules/mimic-response/index.js
/node_modules/minimist/index.js
/node_modules/normalize-url/index.js
/node_modules/p-cancelable/index.js
/node_modules/package-json/index.js
/node_modules/prepend-http/index.js
/node_modules/pump/index.js
/node_modules/rc/index.js
/node_modules/registry-auth-token/index.js
/node_modules/registry-url/index.js
/node_modules/responselike/src/index.js
/node_modules/strip-json-comments/index.js
/node_modules/to-readable-stream/index.js
/node_modules/url-parse-lax/index.js
/node_modules/@sindresorhus/is/dist/index.js.map
/node_modules/ini/ini.js
/node_modules/rc/test/ini.js
/node_modules/got/source/utils/is-form-data.js
/node_modules/got/source/known-hook-events.js
/node_modules/minimist/test/kv_short.js
/node_modules/@szmarczak/http-timer/LICENSE
/node_modules/cacheable-request/LICENSE
/node_modules/clone-response/LICENSE
/node_modules/deep-extend/LICENSE
/node_modules/defer-to-connect/LICENSE
/node_modules/end-of-stream/LICENSE
/node_modules/http-cache-semantics/LICENSE
/node_modules/ini/LICENSE
/node_modules/json-buffer/LICENSE
/node_modules/keyv/LICENSE
/node_modules/minimist/LICENSE
/node_modules/once/LICENSE
/node_modules/pump/LICENSE
/node_modules/registry-auth-token/LICENSE
/node_modules/responselike/LICENSE
/node_modules/semver/LICENSE
/node_modules/wrappy/LICENSE
/node_modules/@sindresorhus/is/license
/node_modules/cacheable-request/node_modules/get-stream/license
/node_modules/cacheable-request/node_modules/lowercase-keys/license
/node_modules/decompress-response/license
/node_modules/get-stream/license
/node_modules/got/license
/node_modules/latest-version/license
/node_modules/lowercase-keys/license
/node_modules/mimic-response/license
/node_modules/normalize-url/license
/node_modules/p-cancelable/license
/node_modules/package-json/license
/node_modules/prepend-http/license
/node_modules/registry-url/license
/node_modules/strip-json-comments/license
/node_modules/to-readable-stream/license
/node_modules/url-parse-lax/license
/node_modules/rc/LICENSE.APACHE2
/node_modules/rc/LICENSE.BSD
/node_modules/duplexer3/LICENSE.md
/node_modules/rc/LICENSE.MIT
/node_modules/minimist/test/long.js
/node_modules/got/source/merge.js
/node_modules/rc/test/nested-env-vars.js
/node_modules/got/source/normalize-arguments.js
/node_modules/minimist/test/num.js
/node_modules/once/once.js
/node_modules/@sindresorhus/is/package.json
/node_modules/@szmarczak/http-timer/package.json
/node_modules/cacheable-request/node_modules/get-stream/package.json
/node_modules/cacheable-request/node_modules/lowercase-keys/package.json
/node_modules/cacheable-request/package.json
/node_modules/clone-response/package.json
/node_modules/decompress-response/package.json
/node_modules/deep-extend/package.json
/node_modules/defer-to-connect/package.json
/node_modules/duplexer3/package.json
/node_modules/end-of-stream/package.json
/node_modules/get-stream/package.json
/node_modules/got/package.json
/node_modules/http-cache-semantics/package.json
/node_modules/ini/package.json
/node_modules/json-buffer/package.json
/node_modules/keyv/package.json
/node_modules/latest-version/package.json
/node_modules/lowercase-keys/package.json
/node_modules/mimic-response/package.json
/node_modules/minimist/package.json
/node_modules/normalize-url/package.json
/node_modules/once/package.json
/node_modules/p-cancelable/package.json
/node_modules/package-json/package.json
/node_modules/prepend-http/package.json
/node_modules/pump/package.json
/node_modules/rc/package.json
/node_modules/registry-auth-token/package.json
/node_modules/registry-url/package.json
/node_modules/responselike/package.json
/node_modules/semver/package.json
/node_modules/strip-json-comments/package.json
/node_modules/to-readable-stream/package.json
/node_modules/url-parse-lax/package.json
/node_modules/wrappy/package.json
/package-lock.json
/node_modules/minimist/example/parse.js
/node_modules/minimist/test/parse.js
/node_modules/minimist/test/parse_modified.js
/node_modules/got/source/progress.js
/node_modules/minimist/test/proto.js
/node_modules/semver/range.bnf
/node_modules/.bin/rc
/node_modules/.bin/rc.cmd
/node_modules/.bin/rc.ps1
/node_modules/minimist/readme.markdown
/node_modules/@szmarczak/http-timer/README.md
/node_modules/cacheable-request/README.md
/node_modules/clone-response/README.md
/node_modules/deep-extend/README.md
/node_modules/defer-to-connect/README.md
/node_modules/duplexer3/README.md
/node_modules/end-of-stream/README.md
/node_modules/http-cache-semantics/README.md
/node_modules/ini/README.md
/node_modules/json-buffer/README.md
/node_modules/keyv/README.md
/node_modules/once/README.md
/node_modules/pump/README.md
/node_modules/rc/README.md
/node_modules/registry-auth-token/README.md
/node_modules/responselike/README.md
/node_modules/semver/README.md
/node_modules/wrappy/README.md
/node_modules/@sindresorhus/is/readme.md
/node_modules/cacheable-request/node_modules/get-stream/readme.md
/node_modules/cacheable-request/node_modules/lowercase-keys/readme.md
/node_modules/decompress-response/readme.md
/node_modules/get-stream/readme.md
/node_modules/got/readme.md
/node_modules/latest-version/readme.md
/node_modules/lowercase-keys/readme.md
/node_modules/mimic-response/readme.md
/node_modules/normalize-url/readme.md
/node_modules/p-cancelable/readme.md
/node_modules/package-json/readme.md
/node_modules/prepend-http/readme.md
/node_modules/registry-url/readme.md
/node_modules/strip-json-comments/readme.md
/node_modules/to-readable-stream/readme.md
/node_modules/url-parse-lax/readme.md
/node_modules/registry-auth-token/registry-url.js
/node_modules/got/source/request-as-event-emitter.js
/node_modules/.bin/semver
/node_modules/.bin/semver.cmd
/node_modules/semver/bin/semver.js
/node_modules/semver/semver.js
/node_modules/.bin/semver.ps1
/node_modules/minimist/test/short.js
/node_modules/minimist/test/stop_early.js
/node_modules/rc/test/test.js
/node_modules/pump/test-browser.js
/node_modules/pump/test-node.js
/node_modules/got/source/utils/timed-out.js
/node_modules/minimist/test/unknown.js
/node_modules/got/source/utils/url-to-options.js
/node_modules/rc/lib/utils.js
/node_modules/minimist/test/whitespace.js
/node_modules/wrappy/wrappy.js
