/.idea/.gitignore
/.idea/aws.xml
/.idea/dbnavigator.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Vue-3-Firebase.iml
